.navigation {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navigation__movies {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

.navigation__movies-wrapper {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.navigation__profile-icon {
  margin-left: 7px;
  width: 15px;
  height: 12px;
  padding: 7.5px;
  border-radius: 50%;
  background-color: #2F2F2F;
}

.navigation__link-item {
  list-style-type: none;
}

.navigation__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
  color: #FFFFFF;
  transition: .3s;
}

.navigation__link_type_profile {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
}

.navigation__link:hover {
  opacity: .8;
}

.navigation__link:active {
  opacity: .6;
}

/*@media screen and (max-width: 370px) {*/

/*  .navigation__link {*/
/*    font-size: 10px;*/
/*    line-height: 160%;*/
/*  }*/
/*}*/
