.burger-menu__checkbox:checked ~ .overlay {
  position:absolute;
  left: 0;
  top: 0;
  width:100%;
  height:100%;
  z-index:1;
  background:rgba(0,0,0,.3);
  transition-duration: .3s;
}

.burger-menu {
  display: none;
}

.burger-menu__checkbox {
  display: none;
}

.burger-menu__checkbox:checked + .burger-menu__button > .burger-menu__button-line {
  transform: rotate(45deg);
}

.burger-menu__checkbox:checked + .burger-menu__button > .burger-menu__button-line::before {
  top: 0;
  transform: rotate(0deg);
}

.burger-menu__checkbox:checked + .burger-menu__button > .burger-menu__button-line::after {
  top: 0;
  transform: rotate(90deg);
}

.burger-menu__checkbox:checked ~ .burger-menu__button {
  position: fixed;
}

.burger-menu__checkbox:checked ~ .burger-menu__box {
  right: 0;
}

.burger-menu__button {
  position: absolute;
  right: 22px;
  width: 26px;
  height: 26px;
  z-index: 3;
  cursor: pointer;
}

.burger-menu__button > .burger-menu__button-line,
.burger-menu__button > .burger-menu__button-line::before,
.burger-menu__button > .burger-menu__button-line::after {
  position: absolute;
  top: 19px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  transition-duration: .25s;
}

.burger-menu__button > .burger-menu__button-line::before {
  content: '';
  top: -8px;
}

.burger-menu__button > .burger-menu__button-line::after {
  content: '';
  top: 8px;
}

.burger-menu__box {
  margin: 0;
  padding: 160px 0;
  position: fixed;
  top: 0;
  right: -200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  width: 520px;
  height: 100%;
  z-index: 2;
  list-style: none;
  background-color: #202020;
  transition-duration: .25s;
}

.burger-menu__item_type_profile {
  margin-top: 350px;
}

.burger-menu__link {
  margin-left: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  transition-duration: .25s;
}

.burger-menu__link_type_profile {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 92%;
}

.burger-menu__link:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid #FFFFFF;
}

.burger-menu__profile-icon {
  margin-left: 7px;
  padding: 7.5px;
  border-radius: 50%;
  background-color: #2F2F2F;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }
}

@media screen and (max-width: 520px) {
  .burger-menu__box {
    width: 100%;
    padding-top: 145px;
    gap: 24px;
  }

  .burger-menu__button {
    right: 12px;
    top: 17px;
  }

  .burger-menu__link {
    margin-left: 15px;
  }
}
