.reg {
  max-width: 396px;
  margin: 0 auto;
  padding-top: 70px;
}

.reg__logo {
  width: 38px;
  height: 38px;
}

.reg__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.reg__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label__text {
  margin: 0 0 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
}

.reg__input {
  width: 100%;
  padding: 0 0 10px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #424242;
  outline: none;
  transition: .3s ease-in-out;
}

.reg__input:focus {
  border-bottom: 1px solid #FFFFFF;
}

.reg__button {
  width: 100%;
  margin-top: 132px;
  border: none;
  padding: 14px;
  color: #FFFFFF;
  border-radius: 3px;
  background-color: #4285F4;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  transition: .3s;
}

.reg__button:hover {
  cursor: pointer;
  opacity: .8;
}
.reg__button:active {
  opacity: 0.6;
}

.reg__text {
  margin: 16px 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
}

.reg__link {
  color: #4285F4;
  text-decoration: none;
}

@media screen and (max-width: 430px) {
  .reg {
    max-width: 80%;
    padding-top: 56px;
  }

  .reg__logo {
    display: block;
    margin: 0 auto;
  }

  .reg__title {
    text-align: center;
    margin: 50px 0 80px;
  }

  .reg__button {
    margin-top: 224px;
    font-size: 12px;
    line-height: 15px;
  }

  .reg__text {
    margin-top: 14px;
    padding-bottom: 30px;
    font-size: 12px;
    line-height: 15px;
  }
}
